<template>
  <div>
    <v-card>

      <v-dialog
        width='500'
        height="500"
        v-model='addDialog'
      >
        <v-col>
          <v-row justify='center'>
            <v-card
              width='475'
              height="500"
            >
              <v-col>
                <v-row justify='center'>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.species'
                      label='Pet Species'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.breed'
                      label='Pet Breed'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.gender'
                      label='Pet Gender'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.name'
                      label='Pet Name'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.age'
                      label='Pet Age'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.ageGroup'
                      label='Pet Age Group'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.price'
                      label='Listing Price'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.picture'
                      label='Pet Image URL'
                    ></v-text-field>
                  </v-col>

                  <v-row justify='center'>
                    <v-btn
                      @click='addPet(); addDialog =false'
                      tile
                      outlined
                      class='overline mr-2'
                    >Add Pet</v-btn>
                    <v-btn
                      @click='addDialog =false'
                      tile
                      outlined
                      class='overline ml-2'
                    >Cancel</v-btn>

                  </v-row>
                </v-row>
              </v-col>
            </v-card>
          </v-row>
        </v-col>
      </v-dialog>
      <v-card>

        <v-btn
          @click='startAddPet()'
          tile
          outlined
          text
          class='overline ml-2 mt-2'
        >Add Pet</v-btn>
        <v-row justify='left'>
          <v-subheader class='subtitle-1 font-weight-bold ml-2 mt-7'>Current Pet List</v-subheader>

        </v-row>
        <v-col cols=2>
          <v-row justify='center'>
            <v-text-field
              class='ml-3'
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-row>
        </v-col>

        <v-data-table
          class='body-1 font-weight-medium'
          :headers="headers"
          :items="pets"
          :search="search"
        >
          <template v-slot:item.price="{ item }">
            <span>${{item.price}}</span>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="startEdit(item)"
            >
              mdi-pencil
            </v-icon>

            <v-icon
              small
              @click="startRemovePet(item)"
            >
              mdi-delete
            </v-icon>

          </template>
        </v-data-table>
      </v-card>
      <v-dialog
        v-model='removeDialog'
        width='350'
        height="300"
      >
        <v-card
          width='350'
          height="300"
        >

          <v-col>
            <v-row justify='center'>
              <v-btn
                @click='removePet(pet); removeDialog =false'
                tile
                outlined
                width='120'
                class='overline ma-12'
              >Yes remove pet</v-btn>
            </v-row>
            <v-row justify='center'>
              <v-btn
                @click='removeDialog =false'
                tile
                outlined
                width='145'
                class='overline ma-12'
              >Do not remote pet</v-btn>
            </v-row>
          </v-col>
        </v-card>
      </v-dialog>
      <v-dialog
        width='500'
        height="500"
        v-model='editDialog'
      >
        <v-col>
          <v-row justify='center'>
            <v-card
              width='475'
              height="500"
            >
              <v-col>
                <v-row justify='center'>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.species'
                      label='Pet Species'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.breed'
                      label='Pet Breed'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.gender'
                      label='Pet Gender'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.name'
                      label='Pet Name'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.age'
                      label='Pet Age'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.ageGroup'
                      label='Pet Age Group'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.price'
                      label='Listing Price'
                    ></v-text-field>
                  </v-col>
                  <v-col cols=6>
                    <v-text-field
                      v-model='pet.picture'
                      label='Pet Image URL'
                    ></v-text-field>
                  </v-col>

                  <v-row justify='center'>
                    <v-btn
                      @click='editPet(); editDialog =false'
                      tile
                      outlined
                      width='110'
                      class='overline mr-2'
                    >Save changes</v-btn>

                    <v-btn
                      @click='editDialog =false'
                      tile
                      outlined
                      width='60'
                      class='overline'
                    >Cancel</v-btn>

                  </v-row>
                </v-row>
              </v-col>
            </v-card>
          </v-row>
        </v-col>
      </v-dialog>
    </v-card>
  </div>

</template>

<script>
import PetService from '@/services/PetService'
import Api from '@/services/Api'
export default {
  props: {},
  components: { },
  created () {

  },
  mounted () {
    this.getPetList()
  },
  data: () => ({
    dollar: '$',
    search: '',
    addDialog: false,
    pets: [],
    pet: {},
    editDialog: false,
    removeDialog: false,
    headers: [
      { text: 'Name', value: 'name' },
      { text: 'Species', value: 'species' },
      { text: 'Breed', value: 'breed' },
      { text: 'Gender', value: 'gender' },
      { text: 'Age', value: 'age' },
      { text: 'Age Range', value: 'ageGroup' },
      { text: 'Price', value: 'price' },
      { text: 'Actions', value: 'actions', sortable: false },
      { text: 'Image', value: 'picture' }
    ]

  }),
  computed: {
  },
  watch: {
    editDialog () {
      if (!this.editDialog) this.pet = {}
    }

  },

  methods: {

    async getPetList () {
      const response = await Api().get('pets')
      this.pets = response.data
    },
    async addPet () {
      try {
        await PetService.post(this.pet)
        this.pet = {}
        await this.getPetList()
      } catch (err) {
        console.log(err)
      }
    },
    async editPet (item) {
      try {
        await PetService.put(this.pet)
      } catch (err) {
        console.log(err)
      }
    },
    async removePet (pet) {
      try {
        await PetService.delete({ params: { id: pet.id } })
        await this.getPetList()
      } catch (err) {
        console.log(err)
      }
    },
    startEdit (pet) {
      this.editDialog = true
      this.pet = pet
    },
    startAddPet (pet) {
      this.addDialog = true
    },
    startRemovePet (pet) {
      this.removeDialog = true
      this.pet = pet
    }

  }
}
</script>
