<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols=6>
          <v-row justify='center'>
            <v-card
              class='mt-12 ml-10'
              flat
              width='400'
              height='500'
            >
              <v-row justify='center'>
                <p>Enter New Pet</p>
              </v-row>
              <v-row>
                <v-col cols=6>
                  <v-text-field
                    v-model='pet.species'
                    label='Pet Species'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>
                  <v-text-field
                    v-model='pet.breed'
                    label='Pet Breed'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>
                  <v-text-field
                    v-model='pet.gender'
                    label='Pet Gender'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>
                  <v-text-field
                    v-model='pet.name'
                    label='Pet Name'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>
                  <v-text-field
                    v-model='pet.age'
                    label='Pet Age'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>
                  <v-text-field
                    v-model='pet.price'
                    label='Listing Price'
                  ></v-text-field>
                </v-col>
                <v-row justify='center'>
                  <v-btn
                    @click='addPet'
                    tile
                    outlined
                    class='overline'
                  >Add Pet</v-btn>
                </v-row>
              </v-row>

            </v-card>

          </v-row>
        </v-col>
        <v-col>
          <v-row justify='center'>
            <v-card
              class='mt-12 ml-10'
              flat
              width='400'
              height='500'
            >

              <v-row justify='center'>

                <p>Modify Existing Pet</p>
              </v-row>
              <v-select
                label="Current Pet List"
                item-text='name'
                class='mt-4'
                v-model='pet'
                :items='pets'
                return-object
              ></v-select>
              <v-row>
                <v-col cols=6>

                  <v-text-field
                    v-model='pet.species'
                    label='New Pet Species'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>

                  <v-text-field
                    v-model='pet.breed'
                    label='New Pet Breed'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>

                  <v-text-field
                    v-model='pet.gender'
                    label='New Pet Gender'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>

                  <v-text-field
                    v-model='pet.name'
                    label='New Pet Name'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>

                  <v-text-field
                    v-model='pet.age'
                    label='New Pet Age'
                  ></v-text-field>
                </v-col>
                <v-col cols=6>

                  <v-text-field
                    v-model='pet.price'
                    label='New Listing Price'
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row justify='center'>
                <v-btn
                  @click='edit =true'
                  tile
                  outlined
                  class='overline mr-12'
                >Submit Change</v-btn>
                <v-dialog
                  v-model='edit'
                  width='350'
                  height="300"
                >
                  <v-card
                    width='350'
                    height="300"
                  >

                    <v-col>
                      <v-row justify='center'>
                        <v-btn
                          @click='editPet'
                          tile
                          outlined
                          width='145'
                          class='overline ma-12'
                        >Yes submit change</v-btn>
                      </v-row>
                      <v-row justify='center'>
                        <v-btn
                          @click='edit =false'
                          tile
                          outlined
                          width='160'
                          class='overline ma-12'
                        >Do not save changes</v-btn>
                      </v-row>
                    </v-col>

                  </v-card>
                </v-dialog>
                <v-btn
                  @click.stop='remove =true'
                  tile
                  outlined
                  class='overline ml-12'
                >Remove Pet</v-btn>
                <v-dialog
                  v-model='remove'
                  width='350'
                  height="300"
                >
                  <v-card
                    width='350'
                    height="300"
                  >

                    <v-col>
                      <v-row justify='center'>
                        <v-btn
                          @click='removePet(); remove =false'
                          tile
                          outlined
                          width='120'
                          class='overline ma-12'
                        >Yes remove pet</v-btn>
                      </v-row>
                      <v-row justify='center'>
                        <v-btn
                          @click='remove =false'
                          tile
                          outlined
                          width='145'
                          class='overline ma-12'
                        >Do not remote pet</v-btn>
                      </v-row>
                    </v-col>

                  </v-card>
                </v-dialog>
              </v-row>
            </v-card>
          </v-row>
        </v-col>

      </v-row>
    </v-container>

  </div>
</template>
<script>
import PetService from '@/services/PetService'
import Api from '@/services/Api'
export default {
  props: {},
  components: { },
  created () {

  },
  mounted () {
    this.getPetList()
  },
  data: () => ({
    pets: [],
    pet: {},
    edit: false,
    remove: false

  }),
  computed: {

  },
  watch: {},

  methods: {
    async getPetList () {
      const response = await Api().get('pets')
      this.pets = response.data
    },
    async addPet () {
      try {
        await PetService.post(this.pet)
        this.pet = {}
        await this.getPetList()
      } catch (err) {
        console.log(err)
      }
    },
    async editPet () {
      try {
        await PetService.put(this.pet)
      } catch (err) {
        console.log(err)
      }
    },
    async removePet () {
      try {
        await PetService.delete({ params: { id: this.pet.id } })
        this.pet = {}
        await this.getPetList()
      } catch (err) {
        console.log(err)
      }
    }

  }
}
</script>
