<template>
  <div>
    <v-container>
      <v-col>
        <v-row justify='center'>
          <v-card
            flat
            class='mt-12'
            width='400'
            height='500'
          >
            <v-row justify='center'>
              <v-item-list-title>Login</v-item-list-title>
            </v-row>
            <v-row>
              <v-col cols=6>
                <v-text-field
                  v-model='email'
                  label='Email'
                ></v-text-field>
              </v-col>
              <v-col cols=6>
                <v-text-field
                  type='password'
                  v-model='password'
                  label='Password'
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row justify='center'>
              <v-btn
                outlined
                text
                @keydown.enter='login'
                @click='login'
                class='overline mr-2'
              >Login</v-btn>
            </v-row>
          </v-card>
        </v-row>
      </v-col>
    </v-container>

  </div>
</template>
<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    async login () {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        if (this.$store.state.isUserLoggedIn) {
          this.$router.push({ name: 'pets' })
        }
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  }
}
</script>
