<template>
  <div>
    <v-app-bar class='green lighten-3'>

      <router-link
        v-if='$store.state.isUserLoggedIn'
        class='routerLink'
        to='pets'
      >
        <v-btn
          class='mr-2'
          outlined
          icon
        >
          <v-icon>mdi-paw</v-icon>
        </v-btn>
      </router-link>
      <v-toolbar-title class='overline font-weight-bold'>Hungry Pets</v-toolbar-title>

      <v-spacer></v-spacer>
      <router-link
        class='routerLink'
        to='Admin'
      >
        <v-btn
          tile
          outlined
          v-if='$store.state.isUserLoggedIn & $store.getters.user.isAdmin'
          class='overline ma-1'
          text
        >Admin</v-btn>

      </router-link>
      <router-link
        class='routerLink'
        to='Profile'
      >
        <v-btn
          tile
          outlined
          v-if="$store.state.isUserLoggedIn"
          text
          class='overline ma-1'
        >
          Profile
        </v-btn>
      </router-link>
      <router-link
        class='routerLink'
        to='Login'
      >
        <v-btn
          tile
          outlined
          v-if="!$store.state.isUserLoggedIn"
          text
          class='overline ma-1'
        >
          Sign In
        </v-btn>
      </router-link>
      <router-link
        class='routerLink'
        to='Register'
      >
        <v-btn
          outlined
          v-if="!$store.state.isUserLoggedIn"
          text
          class='overline ma-1'
        >
          Sign Up
        </v-btn>
      </router-link>
      <v-btn
        tile
        outlined
        text
        v-if='$store.state.isUserLoggedIn'
        @click='logout'
        class='overline ma-1'
      >Log Out</v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-model='drawer'
      absolute
      temporary
    ></v-navigation-drawer>

  </div>
</template>
<script>
// import { mapMutations } from 'vuex'
export default {
  props: {},
  components: { },
  created () {

  },
  mounted () {

  },
  data: () => ({
    drawer: false

  }),
  computed: {

  },
  watch: {

  },
  methods: {
    logout () {
      this.$store.dispatch('setToken', null)
      this.$router.push({
        name: 'login'
      })
    }
  }
}
</script>
<style scoped>
.routerLink {
  text-decoration: none;
}
</style>
