<template>
  <div>

    <v-card
      shaped
      outlined
      height='350'
    >

      <v-icon
        v-if="!pet.favorited"
        @click='setFavorite()'
        class='ml-7 mt-3'
        color='pink'
      >mdi-heart-outline</v-icon>

      <v-icon
        v-else
        @click='deleteFavorite()'
        class='ml-7 mt-3'
        color='pink'
      >mdi-heart</v-icon>

      <div class='d-flex flex-no-wrap justify-space-between'>
        <div>
          <v-col>
            <v-list>

              <v-list-item-title class="headline mb-5, font-weight-medium ml-5">{{pet.name}} - ${{pet.price}}</v-list-item-title>
              <v-list-item-subtitle class='overline font-italic ml-5'>Breed: {{pet.breed}}</v-list-item-subtitle>
              <v-list-item-subtitle class='overline font-italic ml-5'>Age: {{pet.ageGroup}}</v-list-item-subtitle>

            </v-list>
          </v-col>
        </div>
        <v-row justify='end'>

          <v-card
            flat
            class='ma-12'
            height='250'
            width='250'
          >

            <v-img
              contain
              height='250'
              width='250'
              :src='pet.picture'
            ></v-img>
          </v-card>

        </v-row>
      </div>
    </v-card>
  </div>
</template>
<script>
import FavoritesService from '@/services/FavoritesService'
import { mapGetters } from 'vuex'
export default {
  props: { pet: Object },
  computed: {
    ...mapGetters([
      'user'
    ])
  },
  data: () => ({
  }),
  methods: {
    async setFavorite () {
      this.pet.favorited = true
      const response = await FavoritesService.post({
        petId: this.pet.id,
        userId: this.user.id
      })
      this.$emit('favorite', response.data)
    },
    async deleteFavorite () {
      const response = await FavoritesService.delete(this.pet.favoritedId)
      this.$emit('favorite', response.data)
      this.pet.favorited = false
    }
  }
}

</script>
