<template>
  <div>
    <v-container fluid>
      <v-card
        shaped
        outlined
      >

        <v-row no-gutters>
          <v-col cols='4'>
            <v-row justify='center'>
              <v-subheader class='subtitle-1 font-weight-bold'>Select Species!</v-subheader>
            </v-row>
            <v-row justify='center'>
              <v-btn-toggle v-model='selectedSpecies'>
                <v-btn
                  tile
                  outlined
                  class='overline ma-1 ml-4 mt-5'
                >All Species</v-btn>
                <v-btn
                  tile
                  outlined
                  v-for="(species, index) in uniqueSpecies"
                  :key="index"
                  class='overline ma-1 mt-5'
                >{{species}}</v-btn>
              </v-btn-toggle>
            </v-row>
          </v-col>
          <v-col cols='4'>
            <v-row justify='center'>
              <v-subheader class='subtitle-1 font-weight-bold'>Select Breed!</v-subheader>
            </v-row>
            <v-row
              class='ml-12 mr-12'
              justify='center'
            >
              <v-select
                color="green lighten-3"
                item-text='breed'
                label='Breeds'
                :items='filteredBreeds'
                v-model='selectedBreed'
                clearable
                return-object
                class='ml-12 mr-12'
              ></v-select>
            </v-row>
          </v-col>
          <v-col cols='4'>
            <v-row justify='center'>
              <v-subheader class='subtitle-1 font-weight-bold'>Select Age Group!</v-subheader>
            </v-row>
            <v-row
              class='ml-12 mr-12'
              justify='center'
            >
              <v-select
                color="green lighten-3"
                item-text='ageGroup'
                label='Age'
                :items='uniqueAgeGroup'
                v-model='selectedAgeGroup'
                clearable
                return-object
                class='ml-12 mr-12'
              ></v-select>
            </v-row>
          </v-col>
        </v-row>

      </v-card>
      <v-row>

        <v-col
          cols=6
          v-for="(pet, index) in filteredPets"
          :key="index"
        >
          <Pet
            @favorite='attachFavorite'
            :pet='pet'
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import Pet from '@/components/Pet'
import Api from '@/services/Api'
import { mapGetters } from 'vuex'
export default {
  components: {
    Pet
  },
  mounted () {
    this.getPetList()
    this.getFavorites()
  },
  data: () => ({
    pets: [],
    favorites: [],
    pet: {},
    selectedBreed: null,
    selectedSpecies: 0,
    selectedAgeGroup: ''
  }),
  watch: {
    selectedSpecies () {
      this.selectedBreed = null
      this.selectedAgeGroup = null
    },
    favorites () {
      this.pets = this.attachFavorites()
    }
  },
  computed: {
    ...mapGetters([
      'user'
    ]),
    _selectedSpecies () {
      // - 1 due to there being an extra "All Species" button in the button group
      return this.uniqueSpecies[this.selectedSpecies - 1]
    },
    filteredPets () {
      return this.pets.filter(pet => this.conditions.every(condition => condition(pet)))
    },
    filteredBreeds () {
      return [...new Set(this.pets.filter(pet => pet.species === this._selectedSpecies).map(pet => pet.breed))]
    },
    conditions () {
      return [
        pet => this._selectedSpecies ? pet.species === this._selectedSpecies : true,
        pet => this.selectedBreed ? pet.breed === this.selectedBreed : true,
        pet => this.selectedAgeGroup ? pet.ageGroup === this.selectedAgeGroup : true
      ]
    },
    uniqueSpecies () {
      return [...new Set(this.pets.map(el => el.species))]
    },
    uniqueAgeGroup () {
      return [...new Set(this.pets.map(el => el.ageGroup))]
    }
  },
  methods: {
    async getPetList () {
      const response = await Api().get('pets')
      this.pets = response.data
    },
    async getFavorites () {
      const response = await Api().get('favorites', {
        params: {
          userId: this.user.id
        }
      })
      this.favorites = response.data
    },
    matchFavorite (pet) {
      return this.favorites.find(favorite => favorite.PetId === pet.id)
    },
    attachFavorites () {
      const pets = this.pets.map(pet => ({
        ...pet,
        favorited: !!this.matchFavorite(pet),
        favoritedId: this.matchFavorite(pet) ? this.matchFavorite(pet).id : undefined
      }))
      return pets
    },
    attachFavorite (favorite) {
      const index = this.pets.findIndex(pet => pet.id === favorite.PetId)
      this.$set(this.pets[index], 'favorited', true)
      this.$set(this.pets[index], 'favoritedId', favorite.id)
    }
  }
}

// Pull all pets from 'pets' endpoint.
// Pull all favorites from 'favorites' endpoint for logged in user.
// Map over pets and add favorited key: true if like exists for that pet id, otherwise false.

</script>
<style>
</style>
