<template>
  <div>
    {{localUser}}
    <v-container fluid>
      <v-card
        shaped
        outlined
      >
        <v-row no-gutters>
          <v-row class='ml-5'>
            <v-col>
              <v-row justify='center'>
                <v-subheader class='subtitle-1 font-weight-bold'>{{localUser.firstName}}'s Favorite Pets!</v-subheader>
              </v-row>
            </v-col>
            <v-col>
              <v-row justify='end'>
                <v-btn
                  @click='accountSettings()'
                  tile
                  outlined
                  text
                  class='overline mr-12 mt-1'
                >account settings</v-btn>
                <v-dialog
                  width='500'
                  height="500"
                  v-model='accountDialog'
                >
                  <v-col>
                    <v-row justify='center'>
                      <v-card
                        width='475'
                        height="500"
                      >
                        <v-col>
                          <v-row justify='center'>
                            <v-subheader class='title'>{{localUser.firstName}} {{localUser.lastName}}</v-subheader>
                          </v-row>
                          <v-row justify='center'>

                            <v-subheader>{{localUser.email}}</v-subheader>

                            <v-subheader>{{localUser.password}}</v-subheader>

                            <v-text-field
                              v-model='localUser.phoneNumber'
                              label='Phone'
                            ></v-text-field>

                          </v-row>
                        </v-col>
                      </v-card>
                    </v-row>
                  </v-col>
                </v-dialog>
              </v-row>
            </v-col>
          </v-row>
        </v-row>
      </v-card>
      <v-row>
        <v-dialog
          width='350'
          height="300"
          v-model='petRemoveDialog'
        >
          <v-card
            width='350'
            height="300"
          >
            <v-col>
              <v-row justify='center'>
                <v-btn
                  @click='deleteFavorite(pet); petRemoveDialog =false'
                  tile
                  outlined
                  width='260'
                  class='overline ma-12'
                >Yes remove pet from favorites list</v-btn>
              </v-row>
              <v-row justify='center'>
                <v-btn
                  @click='petRemoveDialog =false'
                  tile
                  outlined
                  width='280'
                  class='overline ma-12'
                >Do not remote pet from favorites list</v-btn>
              </v-row>
            </v-col>
          </v-card>
        </v-dialog>
        <v-col
          cols=6
          v-for="(pet, index) in favoritePets"
          :key="index"
        >

          <v-card
            shaped
            outlined
            height='350'
          >
            <v-icon
              @click='startRemovePet(pet)'
              class='ml-7 mt-3'
              color='pink'
            >mdi-heart</v-icon>
            <div class='d-flex flex-no-wrap justify-space-between'>
              <div>
                <v-col>
                  <v-list>
                    <v-list-item-title class="headline mb-5, font-weight-medium ml-5">{{pet.name}} - ${{pet.price}}</v-list-item-title>
                    <v-list-item-subtitle class='overline font-italic ml-5'>Breed: {{pet.breed}}</v-list-item-subtitle>
                    <v-list-item-subtitle class='overline font-italic ml-5'>Age: {{pet.ageGroup}}</v-list-item-subtitle>
                  </v-list>
                </v-col>
              </div>
              <v-row justify='end'>
                <v-card
                  flat
                  class='ma-12'
                  height='250'
                  width='250'
                >
                  <v-img
                    contain
                    height='250'
                    width='250'
                    :src='pet.picture'
                  ></v-img>
                </v-card>

              </v-row>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import Api from '@/services/Api'
import { mapGetters } from 'vuex'
import FavoritesService from '@/services/FavoritesService'
export default {
  mounted () {
    this.getPetList()
    this.getFavorites()
    this.localUser = { ...this.user }
  },
  data: () => ({
    pets: [],
    favorites: [],
    pet: {},
    petRemoveDialog: false,
    accountDialog: false,
    localUser: {}

  }),
  computed: {
    ...mapGetters([
      'user'
    ]),
    favoritePets () {
      return this.pets.filter(function (pet) {
        return pet.favorited
      })
    }
  },
  watch: {
    favorites () {
      this.pets = this.attachFavorites()
    }
  },
  methods: {
    accountSettings () {
      this.accountDialog = true
    },

    async getPetList () {
      const response = await Api().get('pets')
      this.pets = response.data
    },
    async getFavorites () {
      const response = await Api().get('favorites', {
        params: {
          userId: this.user.id
        }
      })
      this.favorites = response.data
    },
    attachFavorites () {
      const pets = this.pets.map(pet => ({
        ...pet,
        favorited: !!this.matchFavorite(pet),
        favoritedId: this.matchFavorite(pet) ? this.matchFavorite(pet).id : undefined
      }))
      return pets
    },
    matchFavorite (pet) {
      return this.favorites.find(favorite => favorite.PetId === pet.id)
    },
    attachFavorite (favorite) {
      const index = this.pets.findIndex(pet => pet.id === favorite.PetId)
      this.$set(this.pets[index], 'favorited', true)
      this.$set(this.pets[index], 'favoritedId', favorite.id)
    },
    async deleteFavorite (pet) {
      pet.favorited = false
      try {
        await FavoritesService.delete(pet.favoritedId)
      } catch (error) { this.error = error.response.data.error }
    },
    startRemovePet (pet) {
      this.petRemoveDialog = true
      this.pet = pet
    }
  }
}
</script>
